<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>Cookie manupilation</title>
        <style>
            table,tr,td{
                border: solid 1px black;
            }
            table{
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <form method="POST">
            <input type="text" name="name">
            <input type="text" name="value">
            <input type="submit" value="Add">
        </form>
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <% for(let k in cookie){%>
                <tr>
                    <td><%= k %></td>
                    <td><%= cookie[k] %></td>
                </tr>
            <%}%>
        </table>
    </body>
</html>