<!DOCTYPE html>
<html>
    <head>
        <title>My App</title>
    </head>
    <body>
        <form action='/result' method='POST'>
            <label>Name <input type='text' name='name'></label>
            <label>Age <input type='text' name='age'></label>
            <input type='submit' value='submit query'></label>
        </form>
    </body>
</html>;